/*
selector {
	property: value;
}
*/

/*Element selector*/
li {
	border: 2px solid red;
}

/*Class selector*/
.checked {
	text-decoration: line-through;
}

/*ID selector*/
#special {
	background-color: orange;
}